@import 'normalize.css';
@import './base/_global';
@import './modules/_container';

.nav {
    float: right;
}

.nav li{
    display: inline-block;
    margin-right: 1.5em;
}

.user-links {
    float: right;
}

