.header {
    &__nav {
        float: right;
        color: $mainBlue;
    
    & li {
            display: inline-block;
            margin-right: 1.5em; 
        }
    }
    &__user-links {
        float: right;
    }
}