.hero {
  background-image: url("assets/images/banner-background.png");
}
&__container {
  display: flex;
}

&__text-content {
  width: 50%;
  padding: 3.125rem;
}

&__image-container {
  max-width: 50%;
}

&__image {
  width: 100%;
}
